[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[packages]
flask = "*"
sentry-sdk = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.8"
