<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".SayMeActivity"
            >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data-->
<!--                    android:host="www.jamesfchen.com"-->
<!--                    android:scheme="b"  android:path="/hotel/bundle1"/>-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>